a{
    text-decoration: none
    }                                               /*me saca las viñetas y lineas de las listas ordenadas*/
    *{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }